.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #005cb4;
}

.footer {
  width: 100%;
  position: fixed;
  clear: both;
  bottom: 0;
  left: 0;
  text-align: center;
  opacity: 0.5;
}

a {
  color: #ffffff;
}
a:visited {
  color: #ffffff;
}
a:hover,
a:active,
a:focus {
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-xl {
  padding: 20px 40px;
  font-size: 20px;
  border-radius: 10px;
}

.btn-home {
  position: absolute;
  z-index: 2;
  right: 0;
}

.slider {
  align-items: center;
  justify-content: center;
}

.text-left {
  position: absolute;
  z-index: 1;
}

.mapping {
  position: relative;
  z-index: 3;
}

.margin {
  margin: auto;
}

.box {
  width: 200px;
  height: 200px;
  padding: 10px;
  float: none;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.mole-pic-down {
  width: 100px;
  position: absolute;
  left: 50px;
  bottom: -80px;
  transition: bottom 0.5s ease;
  cursor: pointer;
  cursor: pointer;
  animation-duration: 0.5s;
}

.mole-pic-up {
  width: 100px;
  position: absolute;
  left: 50px;
  bottom: 45px;
  transition: bottom 0.5s ease;
  cursor: pointer;
  animation-duration: 0.5s;
}

.mole-pic.bonked {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.mound-pic {
  width: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

.mask {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  z-index: 5000;
  background-color: #005cb4;
}
